# Dependencies
node_modules/
package-lock.json
yarn.lock

# current
.env
.env.local

demo/
images/logo.png
docs/selectors/

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
*.zip

# IDE
.vscode/
.idea/
*.swp
*.swo
*~